Source: greylock
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:
 cdbs,
 cmake (>= 2.6),
 debhelper (>= 7.0.50~),
 ribosome-dev,
 libboost-dev,
 libboost-system-dev,
 libboost-program-options-dev,
 libboost-filesystem-dev,
 elliptics-dev,
 elliptics-client,
 libmsgpack-dev,
 liblz4-dev,
 libswarm3-dev,
 libthevoid3-dev
Standards-Version: 3.8.0
Homepage: http://www.reverbrain.com/
Vcs-Git: git://github.com/reverbrain/greylock.git
Vcs-Browser: https://github.com/reverbrain/greylock

Package: greylock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Greylock is a massively scalable searching/indexing engine
 It is built on top of Elliptics distributed storage and its buckets (http://doc.reverbrain.com/backrunner:backrunner#bucket).
 Greylock scales with elliptics storage (thousands of backends) and builds inverted indexes.
 Greylock is a low-level library, package contains HTTP server built using thevoid framework, which indexes requsted json files.

Package: greylock-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development files for greylock search engine
